<section class="content-header">
  <h1>
    Detalhes do Perfume
    
  </h1>
</section>

<br>
<br>
<div class="place-info-box">
  <div class="place-info-box-content">
    <span class="place-info-box-text"> {{perfume?.name}}</span>
    <span class="place-info-box-star"><i class="fa fa-star"></i> {{perfume?.rating}}</span>
    <span class="place-info-box-detail">{{perfume?.category}}</span>
    <span class="place-info-box-detail">{{perfume?.deliveryEstimate}}</span>
    <span class="place-info-box-detail">{{perfume?.about}}</span>
  </div>
  <!-- /.info-box-content -->
</div>