<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header" id="telaPrincipal">
    <!--<img src="../assets/img/fundo2.jpg"></img>-->
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Bem vindo!</h1>
     <p>
      TOP 10: perfumes importados femininos para arrasar!
     </p>
     <a class="btn btn-primary btn-lg" [routerLink]="['/perfumes']">Ver Perfumes</a>
     <!--<a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']">Ver Perfumes</a>-->
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
